* {
    box-sizing: border-box;
}

:root {
    --primary: rgb(255,42,82);
    --primary-alt: rgb(227, 21, 59);
    --light: rgb(230, 230, 230);
    --light-alt: lightgray;
    --dark: #202020;
    --dark-alt: #151515;
    --success: #00c800;
    --success-alt: #00b400;
}


body {
    padding: 20px 10px;
    margin: 0;
    background-color: var(--light);
    color: var(--dark);
    font-size: 18px;
}

main {
    max-width: 700px;
    margin: auto;
}

h1, h2, h3 {
    color: var(--primary);
}

h1, h2 {
    text-align: center;
}

img {
    max-width: 100%;
}

.text-dark {
    color: var(--dark);
}

.text-success {
    color: var(--success);
}

.text-danger {
    color: var(--primary);
}

.text-center {
    text-align: center;
}

.strike-through {
    text-decoration: line-through;
}

.title {
    font-weight: 700;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
    padding-inline-start: 15px;
}

.btn-default {
    padding: .7rem 1.5rem;
    background-color: var(--primary);
    color: var(--dark);
    text-decoration: none;
    font-weight: 600;
    font-size: larger;
    border-radius: .3rem;
}
.btn-default:hover, .btn-default:active {
    background-color: var(--primary-alt);
    color: var(--dark);
}

.px-3 {
    padding-left: 1rem;
    padding-right: 1rem;
}
